{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Leer codigo de barras {% endblock %}</h1>
    <form method="post">
        <label for="code">Código</label>
        <br>
        <input type="search" name="code"
               placeholder="código ..."
               value="{{ request.form['code'] }}"
               autofocus
        ></input>
        <br>
<!--        <button type="submit">Submit</button>-->
    </form>

    <div >
        <h1>Código</h1>
        <h3>{{ last_msg['title'] }}</h3>
<!--        <p>{{ last_msg['content'] }}</p>-->
    </div>

{% endblock %}
